/********** Base styles **********/

#w1 {
    background-color: rgb(173, 89, 145);
    float: right;
    
    border: 1px solid black;
}

#w2 {
    background-color: #A52A2A;
    float: right;
    
    border: 1px solid black;
}
#w3 {
    background-color: yellow;
    float: right;
    
    border: 1px solid black;
}

* {
  box-sizing: border-box ;
}


h1{
  text-align: center;
  
}

#ks{
    margin: 2%;
    
}

/* Simple Responsive Framework. */
.row > div {
  margin: 0% 1.5% 1.5% 1.5%;
  background-color: rgba(175, 166, 164, 0.705);
  border: 1px solid black;
  
}
/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 1px solid black;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 30%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid rgb(5, 5, 5);
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33,33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 47%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 97%;
  }
}
